@model GraffLeilaoGuilherme.Models.Lance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p>Pessoa</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pessoa.nome)
        </dd>

        <dt>
            <p>Produto</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.produto.nome)
        </dd>

        <dt>
            <p>Valor</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lanceValor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.lanceID }) |
    @Html.ActionLink("Lista", "Index")
</p>
